.list {
    width: 1210px;
    margin: 0 auto;
    font-size: 14px;
    padding-bottom: 20px;
}

.list ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 20px 0;
}

.list li {
    width: 204px;
    padding: 10px;
    border: 1px solid #ccc;
    position: relative;
    background-color: #fff;
    margin-bottom: 10px;
}

.list li p {
    width: 200px;
    height: 48px;
    line-height: 24px;
    overflow: hidden;
    margin: 0 auto;
}

.list li img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

.list li span {
    display: block;
    color: #F30213;
    margin-left: 15px;
}

.list-title-w {
    width: 1210px;
    height: 38px;
    background-color: #f1f1f1;
    margin: 0 auto;
}

.list-title-w>div {
    display: inline-block;
    margin: 0 13px;
}

.list-title-w>div p {
    float: left;
    height: 20px;
    line-height: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0 5px;
    font-size: 12px;
    margin-top: 9px;
}

.list-title-w .both-money input {
    width: 59px;
}